.container{
    width: 70vw;
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-word;
    .publishedDate{
        font-size: 0.8rem;
        font-style: italic;
        color: #777777;
        margin-bottom: 2rem;
    }
}