@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

$prime: #16264b;
$secondary: #0e87a7;
$sec-hover: #09c1de;
$third-bright: #346E6E;
$third: #0E4343;

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: $prime $third;
} 
*::-webkit-scrollbar{
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: $third;
}
*::-webkit-scrollbar-thumb {
  background-color: $prime;
}

h1{
  font-size: 40pt;
  font-weight: 500;
  text-transform: uppercase;
}
h2{
  font-size: 20pt;
  font-weight: 500;
  padding: .8rem 0;
}
h3{
  font-size: 16pt;
  font-weight: 500;
  padding: .5rem 0;
}
p{
  font-size: 12pt;
  padding: 0 0 .5rem;
}
a{
  text-decoration: none;
  color: white;
}