$prime: #16264b;
$secondary: #0e87a7;
$sec-hover: #09c1de;
$third-bright: #346E6E;
$third: #0E4343;

.container{
    width: 70vw;
    margin: auto;
    color: white;
}
.posts{
    list-style-type: none;
    margin: 0;
}

.post{
    width: 98.5%;
    margin: 1rem auto;
    border-radius: 10px;

    &:hover{
        box-shadow:0px 3px 7px 3px rgba(0,0,0,0.35);
    }

    a{
        background:$third-bright;
        color: white;
        display: block;
        padding: 1rem;
        text-decoration: none;
    }
    .publishedDate{
        font-size: 0.8rem;
        font-style: italic;
        color: $sec-hover;
    }
}
