$dark: #16264b;
$light: #09c1de;
$hover-blue: #09c1de;

.container{
    height: 100vh;
    width: 100vw;
    background: $light;
    background: linear-gradient(45deg, $light 0%, $dark 88%);
    display: flex;
    padding: 0 7.5rem;
    div{
        display:flex;
        flex-direction: column;
        height: 100%;
        width: 55%;
        form{
            height: 75%;
            width: 82%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: auto 1.5rem;
            background-color: rgba(9,193,222,0.25);
            p{
                align-self: flex-start;
                text-transform: uppercase;
                color: white;
                font-size: 2rem;
                margin: 5% 8% 0;
            }
            input{
                color: white;
                font-size: 12pt;
                height: 3rem;
                width: 80%;
                padding: 0 .5rem;
                background: none;
                border: $light solid;
            }
            textarea{
                width: 80%;
                font-size: 12pt;
                color: white;
                height: 15rem;
                padding: .5rem;
                background: none;
                border: $light solid;
                resize: none;
            }
            button{
                height: 3rem;
                text-transform: uppercase;
                color: white;
                font-weight: 500;
                padding: 1rem;
                background-color: #ff2b4a;
                border: none;
                align-self: flex-end;
                margin-right: 8%;
            }
            .bot{
                display: none;
            }
        }
        &.detailsRight{
            align-items: center;
            justify-content: space-evenly;
            padding-right: 12rem;
            width: 33.7%;
        }
        div{
            width: 75%;
            height: auto;
            padding: 1.5rem 0 3rem 2rem;
            background-color: rgba(9,193,222,0.25);
            color: white;
            h3{
                text-transform: uppercase;

            }
            p{
                span{
                    font-style: italic;
                }
                a{
                    color: white;
                    text-decoration: none;
                }
                a:hover{
                    color: $hover-blue;
                }
            }
        }
    }
}