$dark: rgba(22,38,75,1);
$light: rgb(9,193,222);

.container{
    height: 100vh;
    width: 100vw;
    background:$light;
    background: linear-gradient(45deg, $light 0%, $dark 88%);
    display: flex;
    div{
        display:flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
        form{
            height: 75%;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: auto;
            background-color: rgba(9,193,222,0.25);
            p{
                align-self: flex-start;
                text-transform: uppercase;
                color: white;
                font-size: 2rem;
                margin: 5% 8% 0;
            }
            input{
                color: white;
                height: 3rem;
                width: 80%;
                padding: 0 .5rem;
                background: none;
                border: $light solid;
            }
            textarea{
                width: 80%;
                color: white;
                height: 15rem;
                padding: .5rem;
                background: none;
                border: $light solid;
                resize: none;
            }
            button{
                height: 3rem;
                text-transform: uppercase;
                color: white;
                font-weight: 500;
                padding: 1rem;
                background-color: #ff2b4a;
                border: none;
                align-self: flex-end;
                margin-right: 8%;
            }
            .bot{
                display: none;
            }
        }
        &.detailsRight{
            align-items: center;
            justify-content: space-evenly;
        }
        div{
            width: 75%;
            height: auto;
            padding: 2.5rem 0 3rem 3rem;
            background-color: rgba(9,193,222,0.25);
            color: white;
            h3{
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: .8rem;
            }
            p{
                span{
                    font-style: italic;
                }
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}