$prime: #16264b;
$secondary: #0e87a7;
$sec-hover: #09c1de;
$third-bright: #346E6E;
$third: #0E4343;
$transparent-blue: rgba(9,193,222,0.25);

.container{
    height: 100vh;
    width: 100vw;
    background: $secondary;
    background: linear-gradient(45deg, $secondary 0%, $prime 88%);
    display: flex;
    padding: 0 7.5rem;
    div{
        display:flex;
        flex-direction: column;
        height: 100%;
        width: 55%;
        form{
            height: 75%;
            width: 82%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: auto 1.5rem;
            background-color: $transparent-blue;
            padding: .75rem 0;
            p{
                align-self: flex-start;
                text-transform: uppercase;
                color: white;
                font-size: 2rem;
                margin: 5% 8% 0;
            }
            input{
                color: white;
                font-size: 12pt;
                height: 3rem;
                width: 80%;
                padding: 0 .5rem;
                background: none;
                border: $secondary solid;
            }
            textarea{
                width: 80%;
                font-size: 12pt;
                color: white;
                height: 15rem;
                padding: .5rem;
                background: none;
                border: $secondary solid;
                resize: none;
            }
            button{
                height: 3rem;
                text-transform: uppercase;
                color: white;
                font-weight: 500;
                padding: 1rem;
                background-color: #ff2b4a;
                border: none;
                align-self: flex-end;
                margin-right: 8%;
            }
            .bot{
                display: none;
            }
        }
        &.detailsRight{
            align-items: center;
            justify-content: space-evenly;
            padding-right: 12rem;
            width: 33.7%;
        }
        div{
            width: 75%;
            height: auto;
            padding: 1.5rem 0 3rem 2rem;
            background-color: $transparent-blue;
            color: white;
            h3{
                text-transform: uppercase;

            }
            p{
                span{
                    font-style: italic;
                }
                a{
                    color: white;
                    text-decoration: none;
                }
                a:hover{
                    color: $sec-hover;
                }
            }
        }
    }
}