$prime: #16264b;
$secondary: #0e87a7;
$sec-hover: #09c1de;
$third-bright: #346E6E;
$third: #0E4343;
$transparent-blue: rgba(9,193,222,0.25);

.container{
    height: 100vh;
    width: 100vw;
    background:$secondary;
    background: linear-gradient(45deg, $secondary 0%, $prime 88%);
    display: flex;
}