$bgColor: #222222;
$textColor: #aaaaaa;
$active: #09c1de;

.footer{
    min-height: 5rem;
    background-color: $bgColor;
    color: $textColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-wrapper{
    text-decoration: none;
    color: $textColor;
    font-size: 1.25rem;
    margin-bottom: .5rem;
    a{
        color: $textColor;
        margin-right: .8rem;
    }
    a:hover{
        color: $active;
    }
}