$secondary: #0e87a7;
$sec-hover: #09c1de;

.container{
    min-height: 100vh;
    width: 70vw;
    margin: auto;
    color: white;
    p{
        a{
            color: $sec-hover;
            text-decoration: none;
        }
        &.src{
            font-size: 8pt;
            font-style: italic;
            font-weight: 300;
            color: $sec-hover;
            padding: .5rem 0 6rem;
            a{
                color: $sec-hover;
                text-decoration: none;
            }
        }
        a:hover{
            color: $secondary;
        }
    }
}