.container{
    min-height: 100vh;
    width: 70vw;
    margin: auto;
    p{
        a{
            color: #3d3d3d;
            text-decoration: none;
        }
        &.src{
            font-size: 8pt;
            font-style: italic;
            font-weight: 300;
            color: #777777;
            padding: .5rem 0 6rem;
            a{
                color: #777777;
                text-decoration: none;
            }
        }
    }
}