.container{
    margin: 0 auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    flex-grow: 1;
    margin-top: calc(3% + 122px);
}

.welcomeContent{
    flex-grow: 1;
}