$prime: #16264b;
$secondary: #0e87a7;
$sec-hover: #09c1de;
$third-bright: #346E6E;
$third: #0E4343;

.container{
    height: 100vh;
    width: 100vw;
    background:$third-bright;
    display: flex;
    color: white;
    div{
        display:flex;
        height: 100%;
        width: 50%;
        &.leftImg{
            justify-content: space-around;
        }
        img{
            align-self: flex-end;
            height: 85%;
            width: auto;
        }
        &.message{
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-right: 5rem;
            a{ 
                height: 1.5rem;
                text-transform: uppercase;
                text-decoration: none;
                color: white;
                font-weight: 500;
                padding: 1rem;
                background-color: #ff2b4a;
                border: none;
            }
        }
    }
    
}