$dark: rgba(22,38,75,1);
$light: rgb(9,193,222);

.container{
    height: 100vh;
    width: 100vw;
    background:$light;
    background: linear-gradient(45deg, $light 0%, $dark 88%);
    display: flex;
    div{
        display:flex;
        height: 100%;
        width: 50%;
        padding-bottom: 0;
    }
}